<!-- Form to find a Place -->
<div ng-controller="PlaceListCtrl" id="list-places">
  <form role="form" class="form-search form-inline">
    <div style="text-align: center;">
      <div class="form-group">
        <label class="sr-only">&nbsp</label>
        <div class="col-sm-12">
          <input class="form-control" type="text" placeholder="Name" ng-model="research.name"/>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">&nbsp</label>
        <div class="col-sm-12">
          <input class="form-control" type="text" placeholder="City" ng-model="research.city"/>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">&nbsp</label>
        <div class="col-sm-12">
          <input class="form-control" type="text" placeholder="State" ng-model="research.state"/>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">&nbsp</label>
        <div class="col-sm-12">
          <input class="form-control" type="text" placeholder="ZipCode" ng-model="research.zip_code"/>
        </div>
      </div>
    </div>
    <br/>
    <div class="form-group" style="width: 100%;">
      <div class="controls button-container" style="text-align: center;">  
        <button class="btn btn-primary" ng-click="search(research)"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
        <button class="btn btn-danger" ng-click="reset()">Reset</button>
      </div>
    </div>
    <hr/>
    <div class="form-group">
      <label for="inputSelectSort" class="col-sm-3 control-label">Sort by:</label>
      <div class="col-sm-9">
        <select id="inputSelectSort" class="form-control" ng-model="orderProp">
          <option value="name">Alphabetical - Name</option>
          <option value="-name">Alphabetical - Name (Inverse)</option>
          <option value="location.address">Alphabetical - Address</option>
          <option value="-location.address">Alphabetical - Address (Inverse)</option>
        </select>
      </div>      
    </div>

    <button id="btn-create" onclick="location.href='#/place/create'" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create Place</button>
  </form>

  <div ng-if="places.length == 0">    
    <hr/>
    <p style="text-align: center"><strong>No Places found...</strong></p>
  </div>

  <div ng-if="places.length > 0">
    <hr/>
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Places found : {{ places.length }}</div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="place in places | filter:query | orderBy:orderProp">        
            <td>
              {{ place.name }}
            </td>
            <td>{{ place.location.address }}</td>
            <td>
              <button ng-click="edit(place)" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
              </button>
            </td>
            <td>
              <button ng-click="delete(place)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>